<div class="card bg-light shadow-sm">
           
  <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body  lead text-justify">
              Las células procariontes no poseen organelos membranosos en su interior, ¿Cuál de los siguientes organelos esperarías encontrar en ellas?
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mt-3">
          <button type="button" class="btn btn-block btn-outline-primary  ">Ribosomas</button>
        </div>
        <div class="col-6 mt-3">
          <button type="button" class="btn btn-block btn-outline-primary ">Mitocondrias</button>
        </div>
        <div class="col-6  mt-3">
          <button type="button" class="btn btn-block btn-outline-primary ">Lisosomas</button>
        </div>
        <div class="col-6  mt-3">
          <button type="button" class="btn btn-block btn-outline-primary ">Membrana nuclear</button>
        </div>
      </div>

      <div class="row mt-4">
          <div class="col">
              <button class="btn btn-block btn-lg btn-primary">Responder</button>

          </div>
        </div>
  </div>

 
</div>