<p>activity-screen works!</p>
<div class="container">

  <div class="row">
    <div class="col text-center mt-5 mb-4">
      <h4 class="display-4 text-muted">
        Laboratorio
      </h4>
    </div>
  </div>


  <div class="row">
      <div class="col-9">
          <div class="row">

            <div class="col">
                <div class="card bg-light shadow-sm">
           
                    <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <div class="card shadow-sm">
                              <div class="card-body  lead text-justify">
                                Las células procariontes no poseen organelos membranosos en su interior, ¿Cuál de los siguientes organelos esperarías encontrar en ellas?
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <div class="row">
                          <div class="col-6 mt-3">
                            <button type="button" class="btn btn-block btn-outline-primary  ">Ribosomas</button>
                          </div>
                          <div class="col-6 mt-3">
                            <button type="button" class="btn btn-block btn-outline-primary ">Mitocondrias</button>
                          </div>
                          <div class="col-6  mt-3">
                            <button type="button" class="btn btn-block btn-outline-primary ">Lisosomas</button>
                          </div>
                          <div class="col-6  mt-3">
                            <button type="button" class="btn btn-block btn-outline-primary ">Membrana nuclear</button>
                          </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <button class="btn btn-block btn-lg btn-primary">Responder</button>
      
                            </div>
                          </div>
                    </div>

                   
                  </div>
            </div>
            
          </div>

          <div class="row mt-4">

            <div class="col-11 pr-0">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                  role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"
                ></div>
              </div>
            </div>

            <div class="col-1 align-middle">
              <h1>🏁</h1>
            </div>
          </div>
        </div>
        
        <div class="col-3">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header text-center bg-dark border-0">
                  <h4 class="text-">Posiciones 🏆</h4>
                </div>
    
                <div class="card-body">
                  <!--<li class="list-group-item list-group-item-light"
                    *ngFor="let _alumno of alumnos; let i = index;"
                  >
    
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">{{_alumno.nombre}}</small>
                      <span class="badge badge-primary badge-pill">{{i+1}}°</span>
                    </div>
                    <p class="mb-0 text-muted">{{_alumno.puntos}} pts.</p>
                  </li>-->
                </div>
    
              </div>
        </div>
  </div>
</div>